@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');


.fullwrap img:hover{
    
  background-color: #ffffff;
    filter: none;

    transition: 1s ease ;
    border-radius: 50%;
    margin-left: -50px;
    border: 4px solid #282c34;
   

    }

    
  
  /* (A) WRAPPER */
.fullwrap {
    position: relative; /* required for (c2) */
    width: 100vw; /* optional */
    background-color: #ffffff;
    height: 100vh;
    
  }
   
  /* (B) RESPONSIVE IMAGE */
  .fullwrap img { width: 100vw; 
    transition: 1s ease ;}
   
  /* (C) CAPTION */
  .fullcap {

  color: rgb(255, 255, 255);
    position: absolute;
    top: 0; right: 0;
    padding-right: 41%;
    padding-top: 25vh;
    font-family: 'Kalam';
    transform: rotate(348deg);
  
   
   
    
  }
   
  /* (D) SHOW/HIDE */
  .fullcap {
    visibility: none; opacity: 0;
    transition: opacity 0.3s;
    
  }
  .fullwrap:hover .fullcap {
    visibility: visible; opacity: 1;

   
  }
