@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');


.fullwrap img:hover{
    
  background-color: #282c34;
 filter: none;
    transition: 1.5s ease ;
 
   

    }

    
  
  /* (A) WRAPPER */
.fullwrap {
    position: relative; /* required for (c2) */
    width: 100vw; /* optional */
   
    background-color: #282c34;
    height: 100vh;
 
    
  }
   
  /* (B) RESPONSIVE IMAGE */
  .fullwrap img { width: 100%; 
    transition: 1s ease ;
    filter: blur(4px);

  }
    
    
   
  /* (C) CAPTION */
  .fullcap {

  color: rgb(255, 255, 255);
    position: absolute;
    top: 0; right: 0;
    padding-right: 38%;
    padding-top: 25vh;
    font-family: 'Kalam';
    transform: rotate(349deg);
    letter-spacing: 0.1em;
    word-spacing: 0.4em;

   text-transform: uppercase;
    
  

}
  

  





  /* (D) SHOW/HIDE */
  .fullcap {
    visibility: none; opacity: 0;
    transition: 2s ease ;
   
    


  }



  .fullwrap:hover .fullcap {
    visibility: visible; 
    opacity: 1;

   
 

   
  }


