@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');


.outerdiv{
padding-top: 100px;
font-family: 'Kalam';



}
.TextPortfolio{
    font-family: 'Kalam';
    font-size: 15px;
}