@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');


.outerdiv{

    overflow: scroll;
padding-top: 100px;
font-family: 'Kalam';



}
.TextPortfolio{
    font-family: 'Kalam';
    font-size: 15px;
    padding-left: 30%;
padding-right: 30%;
overflow: scroll;
height: 100vh;

    

}